

body {
  margin: 0;
  padding:0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1350px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1300px !important;  
  }
}
.app-container{
  .header-container{
   .btn-login{
      border: 1px solid #53535353;
      margin-right: 20px;
    }
    .btn-signup{
      background-color: #303030;
      color: white;
    }
    .navbar {
      background-color: rgba(0,0,0,0) !important;
      padding-top: 20px;
      .nav-link{
        &.active{
          color: blue;
        }
      }
    }
  }
  .homepage-container{
    .homepage-content{
      padding: 100px;
      position: relative;
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 30px;
     

      .home-title1{
       font-size: 60px;
       font-weight: 600;
      }
      .home-title2{
          font-size: 25px;

          span{
            font-weight: 600;
          }
      }
      .home-title3{
        button{
          background-color: #303030;
          color: #fff;
          font-weight: 500;

          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
  }
}

video {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: -99;
  top: -85px;
}
